<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>不知道吃什麼嗎？</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="body">
  <form action="/" method="post" style="width: 50%;">
    <div class="card">
      <!-- <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png"
        alt="pokemon_logo" class="card-img"> -->
      <h1 class="card-title">今天我想來點...</h1>
      <p class="card-text">
        <% if (description.length) { %>
          <%= description %>
        <% } else { %>
          <%= '?＿＿＿＿?' %>
        <% } %>
      </p>
      <input type="text" name="description" class="card-input" placeholder="輸入早餐、午餐、晚餐、宵夜" />
      <button type="submit" class="card-btn">選好就送出</button>
    </div>
  </form>
</body>

</html>